
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/JASA.iml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/watcherTasks.xml
.idea/dictionaries/abhishek.xml
.idea/dictionaries/abhishek.xml
.vscode
.DS_Store
