extends ../bootstrap-base

block frankenstein-body
    h1 JASA Sentiment Analyzer
    form(action="/sentiment-analyzer/analyze" method="post")
        input(name="text")
        input(type="submit" value="Submit")