body {
    padding: 3em;
    font-family: "Lucida Grande", sans-serif;
    color: whitesmoke;
    background-color: #282828;
}

a {
    transition-duration: 300ms;
}

a:hover {
    color: #01FF70;
    text-decoration: none;
    transition-duration: 300ms;
}