#headerTitle {
    font-size: 3em;
    padding: 0.5em;
    border-bottom: 0.1em solid whitesmoke;
}

a {
    transition-duration: 300ms;
}

a:hover {
    color: lightblue;
    text-decoration: none;
    transition-duration: 300ms;
}